.features{
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

  &__content{
    display: grid;
    grid-gap: 2vw;
    padding: 2rem 4rem;

    &--title{
      @extend %sec-heading;
      font-weight: font-weight(font-weight-bold)!important;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    &--title::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-m);
      left: 0;
      top: 0;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s ease-in-out;
    }

    &:hover &--title::before,
    &:active &--title::before{
      transform: scaleX(1);
      transform-origin: left;
    }

    &--para{
      @extend %sec-para;
      padding: 1vh 4vw;
      background-color: var(--color-primary-m);
      text-align: center;
    }

    &--link:link,
    &--link:active{
      position: relative;
      place-self: start;
      background: transparent;
      padding: 1rem 2rem;
      transition: all 0.5s ease-in-out;
      overflow: hidden;

      span{
        position: absolute;
        display: block;
      }

      span:first-child{
        width: 100%;
        height: 0.5rem;
        background: linear-gradient(90deg, transparent, var(--color-primary));
        top: 0;
        left: -100%;
        animation: border1 1s linear infinite;
        animation-delay: 0s;
      }

      span:nth-child(2){
        width: 0.5rem;
        height: 100%;
        background: linear-gradient(180deg, transparent, var(--color-primary));
        top: -100%;
        right: 0;
        animation: border2 1s linear infinite;
        animation-delay: 0.25s;
      }

      span:nth-child(3){
        width: 100%;
        height: 0.5rem;
        background: linear-gradient(270deg, transparent, var(--color-primary));
        bottom: 0;
        right: -100%;
        animation: border3 1s linear infinite;
        animation-delay: 0.5s;
      }

      span:nth-child(4){
        width: 0.5rem;
        height: 100%;
        background: linear-gradient(360deg, transparent, var(--color-primary));
        bottom: -100%;
        left: 0;
        animation: border4 1s linear infinite;
        animation-delay: 0.1s;
      }
    }

    &--link:hover,
    &--link:visited{
      background-color: var(--color-primary-m);
    }
  }

  @include media-small{
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

@keyframes border1 {
  0%{
    left: -100%;
  }

  100%{
    left: 100%;
  }
}

@keyframes border2 {
  0%{
    top: 0;
  }

  100%{
    top: 100%;
  }
}

@keyframes border3 {
  0%{
    right: -100%;
  }

  100%{
    right: 100%;
  }
}

@keyframes border4 {
  0%{
    bottom: -100%;
  }

  100%{
    bottom: 100%;
  }
}

@for $img from 1 through 9 {
  .features__content:nth-child(#{$img}) {
    background-image: url("../img/features/features-#{$img}.jpg");
    @extend %bg;
  } 
}